:root{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}
body{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}
#png{
    transition: 0.5s;
    transform: translate(-400px);
    position: absolute;
}
#logo-container{
    padding-left:30px;
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;
    width: 120px;
}
#discover-btn{
    display: inline-block;
    position: absolute;
    border: 1px solid white;
    height: 40px;
    width: 100px;
    font-size: 20px;
    bottom: 7%;
    left: calc(50% - 50px);
    border-radius: 20px;
    color: white; 
    font-size: 0.9em;
    background-color: transparent;
}
#discover-btn:hover{
    color: black;
    background-color: white;
    cursor: pointer;
}
#header{
    display: flex;
    justify-content: center;
    z-index: 10;
    position: fixed;
    background-color: rgb(0, 0, 0);
    top: 0px;
    width: 100vw;
    height: 40px;
}
#nav-bar{
    display: flex;
    justify-content: end;
}
.nav-link{
    margin-top: 5px;
    margin-right: 30px;
    color:white;
    text-decoration: none;
}
#phrase{
    z-index: 2;
    position: absolute;
    top: 60px;
    left: 5%;
    font-size: 3.5em;
}
#phrase > span{
    color: white;
}
#specs{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 100px;
    width: 100%;
    bottom: 10%;
    font-size: 1.5em;
    font-weight: 100;
    color: rgb(255, 255, 255);
}
#specs h1{
    transition: 0.5s;
    opacity: 0;
    transform: translate(0px,100px);
}
#image-clip{
    position: relative;
    overflow: hidden;
    height: auto;
    max-height: 1000px;
    padding: 0px;
}
img{
    margin: 0px;
    width: calc(100%);
}
.section{
    transition:0.5s;
    opacity: 0;
    font-size: 1.7em;
    margin-bottom: 0px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding-top: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    height: auto;
    min-height: 500px;
    transform: translate(0px, 120px);
}
#interior-section > #text-container{
    color: red;
}
#intro > div{
    display: block;
    height: 400px;
    width: 400px;
    max-width: 85%;
    margin: 0px;
}
#intro h1{
    margin: 0px;
}
#intro p{
    margin-top: 30px;
}
#intro > iframe{
    max-width: 85%;
    margin: 0px;
}
#intro ul{
    font-size: 0.7em;
}
.square{
        transition: 200ms;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 100px;
    width: 100px;
    position: absolute;
    border: 3px solid rgb(255, 77, 0);
    box-shadow: 0px 0px 15px rgb(255, 30, 0);
}
#action{
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#landscape{
    top: 0%;
    transition: 500ms;
    width: 100%;
    height: 100vh;
    background-color: black;
}
iframe{
    width: 700px;
    height: 400px;
}
#interior-section{
    font-size: 1.5em;
    flex-direction: column;
    gap: 10px;
    padding-top: 50px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 242, 242);
    margin: 0;
}
#interior-section > h1{
    margin: 0px;
    padding: 0px;
}
#interior-section #img-div{
    max-width: 90%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 0px;
    padding-top: 0px;
}
#interior-section  #img-div > img{
    max-width: 800px;
    min-width: 650px;
    flex: 0 1 200px;
}
#interior-section #img-div > #text-container{
    min-width: 300px;
    max-width: 500px;
    flex: 1 2 400px;
    background-color: rgba(255, 0, 0, 0);
}
#interior-section #img-div > #text-container > p{
    font-size: 0.8em;
    color: rgb(73, 73, 73);
}
#speed-section{
    height: 500px;
}
#speed-scene{
    background-color: transparent;
    display: flex;
    align-items: center;
    position: relative;
    transition: 2s ease-out;
    width: 0px;
    height: auto;
    overflow: hidden;
}
#speed-scene > img{
}
#speed-specs{
    font-size: 0.8em;
    line-height: 25px;
}








@media(min-width: 2000px){
    #image-clip{
        display: flex;
        align-items: center;
    }
}
@media(max-width: 800px){
    #phrase{
        font-size: 1.2em;
    }
    #specs{
    position: absolute;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    bottom: 5%;
    font-size: 0.8em;
    font-weight: 100;
    color: rgb(255, 255, 255);
    }
    #discover-btn{
        display:none;
    }
    #nav-bar{
        display: none;
    }
    #interior-section > #img-div{
        gap:0px;
    }
    .section{
        padding-bottom: 60px;
    }
    #speed-section > #text-container {
        max-width: 85%;
    }
    #image-clip{
        background-color: red;
        height: 100vh;
    }
    #background-img{
        content: url("./plaid2222.jpg");
        height: 100%;
        width: 100%;
    }
    #png{
        width: 400%;
        left: -200%;
    }

}